<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="jabborovbahrom.openplayer">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/red_logo"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/red_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.OpenPlayer">
        <activity
            android:name="uz.jabborovbahrom.openplayer.admin.ReportInfoActivity"
            android:exported="true" />
        <activity
            android:name="uz.jabborovbahrom.openplayer.admin.AdminActivity"
            android:exported="true">

        </activity>
        <activity
            android:name="uz.jabborovbahrom.openplayer.SplashActivity"
            android:noHistory="true">

        </activity>
        <activity android:name="uz.jabborovbahrom.openplayer.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name="uz.jabborovbahrom.openplayer.services.SongService" />
        <service android:name="uz.jabborovbahrom.openplayer.services.UploadService" />
    </application>

</manifest>